/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html,
body {
  position: relative;
  height: 100%;
  width: 800px;
  margin: 0 auto;
  overflow: hidden; }

.container {
  height: 100%;
  background: #00ffca; }

.row {
  position: relative;
  background-color: #ffb312;
  padding: 30px 0;
  width: 1200px;
  left: -400px; }

.characters {
  position: relative;
  display: inline-block; }

.monster {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 90px;
  width: 90px;
  margin: 0 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%; }
  .monster.monster1 {
    background-color: red; }
  .monster.monster2 {
    background-color: blue; }
  .monster.monster3 {
    background-color: aqua; }
  .monster .eye {
    position: absolute;
    top: 25px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%; }
    .monster .eye.eye-left {
      left: 15px; }
    .monster .eye.eye-right {
      right: 15px; }
    .monster .eye:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0px;
      width: 15px;
      height: 15px;
      background: #000;
      border-radius: 50%; }

.pacman {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .pacman .top {
    background: yellow;
    height: 50px;
    width: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: 0;
    transform-origin: 50% 100%; }
  .pacman .bottom {
    background: yellow;
    height: 50px;
    width: 100px;
    border-top: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform-origin: 50% 0%; }

.dots {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .dots .dot {
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
    margin: 0 30px 0 30px;
    display: inline-block;
    vertical-align: middle; }

@-webkit-keyframes pacman-walk {
  0% {
    -webkit-transform: none; }
  100% {
    -webkit-transform: translate(400%); } }
@-moz-keyframes pacman-walk {
  0% {
    -moz-transform: none; }
  100% {
    -moz-transform: translate(400%); } }
@keyframes pacman-walk {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(400%);
    -moz-transform: translate(400%);
    -ms-transform: translate(400%);
    -o-transform: translate(400%);
    transform: translate(400%); } }
@-webkit-keyframes pacman-top {
  0%, 100% {
    -webkit-transform: none; }
  50% {
    -webkit-transform: rotateZ(-45deg); } }
@-moz-keyframes pacman-top {
  0%, 100% {
    -moz-transform: none; }
  50% {
    -moz-transform: rotateZ(-45deg); } }
@keyframes pacman-top {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); } }
@-webkit-keyframes pacman-bottom {
  0%, 100% {
    -webkit-transform: none; }
  50% {
    -webkit-transform: rotateZ(45deg); } }
@-moz-keyframes pacman-bottom {
  0%, 100% {
    -moz-transform: none; }
  50% {
    -moz-transform: rotateZ(45deg); } }
@keyframes pacman-bottom {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); } }
@-webkit-keyframes eye-blink {
  0% {
    -webkit-transform: scale(1, 1); }
  2%, 4% {
    -webkit-transform: scale(1, 0); }
  5%, 100% {
    -webkit-transform: scale(1, 1); } }
@-moz-keyframes eye-blink {
  0% {
    -moz-transform: scale(1, 1); }
  2%, 4% {
    -moz-transform: scale(1, 0); }
  5%, 100% {
    -moz-transform: scale(1, 1); } }
@keyframes eye-blink {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  2%, 4% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0); }
  5%, 100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

/*# sourceMappingURL=pacman.css.map */
